:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --nav-footer-colot: rgba(255, 255, 255, 0.6);
  --primary-background-color: #ffffff;
  --secondary-backgound-color: #f5f4fa;
  --hero-footer-background: #2f303a;
}

address {
  font-style: normal;
}

.list {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.link {
  text-decoration: none;
}

div {
  padding-top: 30px;
  padding-bottom: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.link.current {
  color: var(--accent-color);
}

/* header однаковий у студії і портфоліо */
/* Header */
.header-background {
  border-bottom: 1px solid #eeeeee;
}

.web {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;

  color: var(--accent-color);
}

.studio {
  color: #000000;
}

.studio:hover,
.studio:focus {
  color: var(--accent-color);
}

.studia {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
}

.studia:hover,
.studia:focus {
  color: var(--accent-color);
}

.mail-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.mail-tel:hover,
.mail-tel:focus {
  color: var(--accent-color);
}

/* Проекти */

.button {
  /* position: absolute;
    width: 73px;
    height: 38px;
    left: 495px;
    top: 174px; */

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border: transparent;
  cursor: pointer;
  background: var(--secondary-backgound-color);
  border-radius: 4px;
  border: none;
}

.button:hover,
.button:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

/* .button2{
    position: absolute;
    width: 128px;
    height: 38px;
    left: 576px;
    top: 174px;

    background: #F5F4FA;
    border-radius: 4px;
    border: none;
}
.button3{
    position: absolute;
    width: 145px;
    height: 38px;
    left: 712px;
    top: 174px;

    background: #F5F4FA;
    border-radius: 4px;
    border: none;
}
.button4{
    position: absolute;
    width: 103px;
    height: 38px;
    left: 865px;
    top: 174px;

    background: #F5F4FA;
    border-radius: 4px;
    border: none;
}
.button5{
    position: absolute;
    width: 130px;
    height: 38px;
    left: 976px;
    top: 174px;

    background: #F5F4FA;
    border-radius: 4px;
    border: none;
} */

/* Проекти */
/* .imgPortfolio1 {
    position: absolute;
    width: 370px;
    height: 294px;
    left: 215px;
    top: 262px;
}
.imgPortfolio2 {
    position: absolute;
    width: 370px;
    height: 294px;
    left: 615px;
    top: 262px;
}
.imgPortfolio3 {
    position: absolute;
    width: 370px;
    height: 294px;
    left: 1015px;
    top: 262px;
}
.imgPortfolio4 {
    position: absolute;
    width: 370px;
    height: 294px;
    left: 215px;
    top: 696px;
}
.imgPortfolio5 {
    position: absolute;
    width: 370px;
    height: 294px;
    left: 615px;
    top: 696px;
}
.imgPortfolio6 {
    position: absolute;
    width: 370px;
    height: 294px;
    left: 1015px;
    top: 696px;
}
.imgPortfolio7 {
    position: absolute;
    width: 370px;
    height: 294px;
    left: 215px;
    top: 1130px;
}
.imgPortfolio8 {
    position: absolute;
    width: 370px;
    height: 294px;
    left: 615px;
    top: 1130px;
}
.imgPortfolio9 {
    position: absolute;
    width: 370px;
    height: 294px;
    left: 1015px;
    top: 1130px;
} */

.description {
  /* width: 322px;
    height: 70px;
    left: 24px;
    top: 314px; */
  padding: 20px 24px;
  background: #ffffff;
  cursor: pointer;
  border-right: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.description:hover,
.description:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.title1 {
  /* position: absolute;
  width: 322px;
  height: 36px;
  left: 239px;
  top: 576px; */

  /* font-family: 'Roboto';
  font-style: normal; */
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;

  color: #212121;
}
/* .title2 {
  position: absolute;
  width: 322px;
  height: 36px;
  left: 639px;
  top: 576px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;

  color: #212121;
}
.title3 {
  position: absolute;
  width: 322px;
  height: 36px;
  left: 1039px;
  top: 576px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;

  color: #212121;
}
.title4 {
  position: absolute;
  width: 322px;
  height: 36px;
  left: 239px;
  top: 1010px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;

  color: #212121;
}
.title5 {
  position: absolute;
  width: 322px;
  height: 36px;
  left: 639px;
  top: 1010px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;

  color: #212121;
}
.title6 {
  position: absolute;
  width: 322px;
  height: 36px;
  left: 1039px;
  top: 1010px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;

  color: #212121;
}
.title7 {
  position: absolute;
  width: 322px;
  height: 36px;
  left: 239px;
  top: 1444px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;

  color: #212121;
}
.title8 {
  position: absolute;
  width: 322px;
  height: 36px;
  left: 639px;
  top: 1444px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;

  color: #212121;
}
.title9 {
  position: absolute;
  width: 322px;
  height: 36px;
  left: 1039px;
  top: 1444px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;

  color: #212121;
} */

.descriptions1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}

/* .descriptions2 {
  position: absolute;
  width: 322px;
  height: 30px;
  left: 639px;
  top: 616px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;

  color: #757575;
}
.descriptions3 {
  position: absolute;
  width: 322px;
  height: 30px;
  left: 1039px;
  top: 616px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;

  color: #757575;
}
.descriptions4 {
  position: absolute;
  width: 322px;
  height: 30px;
  left: 239px;
  top: 1050px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;

  color: #757575;
}
.descriptions5 {
  position: absolute;
  width: 322px;
  height: 30px;
  left: 639px;
  top: 1050px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;

  color: #757575;
}
.descriptions6 {
  position: absolute;
  width: 322px;
  height: 30px;
  left: 1039px;
  top: 1050px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;

  color: #757575;
}
.descriptions7 {
  position: absolute;
  width: 322px;
  height: 30px;
  left: 239px;
  top: 1484px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;

  color: #757575;
}
.descriptions8 {
  position: absolute;
  width: 322px;
  height: 30px;
  left: 639px;
  top: 1484px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;

  color: #757575;
}
.descriptions9 {
  position: absolute;
  width: 322px;
  height: 30px;
  left: 1039px;
  top: 1484px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;

  color: #757575;
} */

/* footer має бути однаковим 
на двох сторінках*/
.footer-background {
  background: #2f303a;
}

.web2 {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;

  color: var(--accent-color);
}

.studio2 {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;

  color: var(--primary-background-color);
}

.studio2:hover,
.studio2:focus {
  color: var(--accent-color);
}

.address {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;

  color: var(--primary-background-color);
}

.tel-mail {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--nav-footer-colot);
}

.tel-mail:hover,
.tel-mail:focus {
  color: var(--accent-color);
}
